<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - @RenderSection("Title", false)</title>
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon/android-icon-192x192.png">
    <link rel="shortcut icon" href="~/images/favicon/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/admin/admin.css" asp-append-version="true">

    @RenderSection("Styles", false)
</head>

<body>
    @RenderSection("ActiveMenu", false)
    <div class="page-admin">
        <header class="header-admin">
            <div class="main-header">
                <div class="title-page">@RenderSection("TopHeader", false)</div>
                <ul class="control-header">
                    <li class="icon-item">
                        <a href="/">
                            <i class="icon-page icon-home"></i>
                        </a>
                        <span class="tooltip-menu">
                            EDPortal
                        </span>
                    </li>
                    <li class="icon-item">
                        <a href="~/Auth/Logout"><i class="icon-page icon-exit-admin"></i></a>
                        <span class="tooltip-menu">
                            Sign Out
                        </span>
                    </li>
                </ul>
            </div>
        </header>
        <div class="slide-nav">
            <div class="logo-admin"><img loading="lazy" src="~/images/logo-admin.png"></div>
            <ul class="menu-slide">
                <li class="menu-item">
                    <a href="~/Admin/User/Index"><i class="icon-page icon-chart-admin"></i>User</a>
                </li>
                <li class="menu-item">
                    <a href="~/Admin/Book/Index"><i class="icon-page icon-chart-admin"></i>Book</a>
                </li>
            </ul>
        </div>
        <div class="main-admin">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/js/admin/admin.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>