<!DOCTYPE html>
<html>
<head>
     @RenderSection("Schema", false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderSection("Title", false)</title>
    @RenderSection("Metadata", false)
    <environment include="Development">
        <link rel="stylesheet" href="~/css/dev/main.chunk.css" />
        <link rel="stylesheet" href="~/css/dev/pages/auth/index.chunk.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/pro/main.chunk.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/pro/pages/auth/index.chunk.css" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="wapper">
        <main role="main" class="pb-3">
            @RenderSection("Breadcrumb", required: false)
            @RenderBody()
        </main>
        @(await Component.InvokeAsync("Footer"))

    </div>
   
    
    <div id="loadingProcess" class="loading-process" style="display: none;">
        <svg class="icon-loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="64" height="64" fill="#439ff0">
            <circle transform="translate(8 0)" cx="0" cy="16" r="0">
                <animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0"
                         keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
            </circle>
            <circle transform="translate(16 0)" cx="0" cy="16" r="0">
                <animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.3"
                         keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
            </circle>
            <circle transform="translate(24 0)" cx="0" cy="16" r="0">
                <animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.6"
                         keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
            </circle>
        </svg>
    </div>
    @RenderSection("Scripts", required: false)
    <input type="hidden" id="RootUrl" value="@Url.Content("~/")" />
    <environment include="Development">
        <script src="~/js/dev/lib/lang-en-US.chunk.js"></script>
        <script src="~/js/dev/lib/react-vendor.chunk.js"></script>
        <script src="~/js/dev/lib/react-bootstrap-vendor.chunk.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/js/pro/lib/lang-en-US.chunk.js" asp-append-version="true"></script>
        <script src="~/js/pro/lib/react-vendor.chunk.js" asp-append-version="true"></script>
        <script src="~/js/pro/lib/react-bootstrap-vendor.chunk.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
